<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/icon.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Погода</title>
</head>
<body>

<header class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="images/icon.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          Погода
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Контакты</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Войти</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Мой профиль
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Профиль</a></li>
                <li><a class="dropdown-item" href="#">Админ панель</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<main>
  <section>  
    <div class="container pt-5 mt-5">
      <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center pb-5">Погода</h2>
            <h4>Для поиска введите город или район</h4>
          <section>
            <nav class="navbar">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
              </div>
            </nav>
          </section>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2 class="text-center pb-5">Информация</h2>
          <div class="info_text rounded">
            <p>Москва, район Тверской<br>
            Сейчас: 16:13<br>
            +23 &deg;C<br>
            Ветер 4м/с<br>
            Влажность: 82%<br>
            774 мм.рт.ст</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<section>
  <div class="info-city">
    <h5 class="text-center">Информация по крупным городам России</h5>
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3">
          <p>Москва<br>
          Сейчас: 16:13<br>
          +23 &deg;C<br>
          Ветер 4м/с<br>
          Влажность: 82%<br>
          774 мм.рт.ст</p></div>
        <div class="col-6 col-sm-6 col-md-3">
          <p>Санкт-Петербург<br>
          Сейчас: 16:13<br>
          +23 &deg;C<br>
          Ветер 4м/с<br>
          Влажность: 82%<br>
          774 мм.рт.ст</p></div>
        <div class="col-6 col-sm-6 col-md-3">
          <p>Уфа<br>
          Сейчас: 16:13<br>
          +23 &deg;C<br>
          Ветер 4м/с<br>
          Влажность: 82%<br>
          774 мм.рт.ст</p></div>
        <div class="col-6 col-sm-6 col-md-3">
          <p>Казань<br>
          Сейчас: 16:13<br>
          +23 &deg;C<br>
          Ветер 4м/с<br>
          Влажность: 82%<br>
          774 мм.рт.ст</p></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-5 pb-5">
    <div class="row  align-items-center">
      <a href="#"><h2 class="text-center">Новости</h2></a>
      <div class="col-sm-12 col-lg-4">
        <div class="card">
          <img src="https://tverlife.ru/wp-content/uploads/2022/07/dave-hoefler-IRHNxX5y_hg-unsplash.jpg" class="card-img-top" alt="Гроза">
          <div class="card-body">
            <h5 class="card-title">Как возникают грозовые облака</h5>
            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
              Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
            </p>
            <a href="#" class="btn btn-primary mt-3">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card">
          <img src="https://dpru.obs.ru-moscow-1.hc.sbercloud.ru/images/article/2022/07/11/caea3f23-d784-4694-9ef9-1127c4c6b218_F.jpg" class="card-img-top" alt="Ливень">
          <div class="card-body">
            <h5 class="card-title">В Москву снова обрушиться ливень</h5>
            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
              Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
            </p>
            <a href="#" class="btn btn-primary mt-3">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card">
          <img src="http://ic.pics.livejournal.com/monokio/52013665/545964/545964_original.jpg" class="card-img-top" alt="Снег">
          <div class="card-body">
            <h5 class="card-title">Снег летом</h5>
            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
              Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.
            </p>
            <a href="#" class="btn btn-primary mt-3">Читать далее...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>


<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="footer_int">
          <p class="text-center"><em>&copy; Made by Snezhanna</em></p>
            <a href="#">
              <h6 class="text-secondary link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Контакты</h6>
            </a>
          <p><em>Исходные данные: ЯндексПогода</em></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>